@charset_"UTF-8";
@font-face {
    font-family:'911porschav3laserital';
    src: url(fontes/911porschav3laserital.ttf) format(truetype);
}
:root{
    --cor01: #ff0000;
    --font01:'911porschav3laserital';
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1{
    font-family:var(--font01) ;
    text-align: center;
    background-image: linear-gradient(to bottom, #ff0000 30%, transparent);
    color: black ;
    height:50px;
    margin: 0px;
}
p{
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
    text-align: center;
}
#esquerda{
    max-width: 300px;
    width: 90%;
}
#img1{
    padding: 20px;
    display: block;
    margin-left: auto;
}
#direita{
    padding: 30px;
    width: 300px;
    text-align: center;
    margin-left: auto;
}
#img2{
    width: 100%;
    max-width: 500px;
    display: block;
    padding: 0px 0px 0px 0px ;

}

.parallax{
    background-image: url(imagens/motorf1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
}
caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}
.tabela{
    overflow-x: auto;
}
 thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: red;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #d9d9d9;
}
tbody tr:nth-child(2n){
            background-color: #f2f2f2;
}
